.article {
  display: grid;
  min-height: 17rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  height: 100%;
}
.bookmark {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.9rem;
}
.genres {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.description {
  color: var(--text-secondary);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
