.searchBar__input {
  background-color: var(--bg-secondary);
  border-style: none;
  font-family: var(--primary-font);
  color: var(--text-primary);
}

.searchBar__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  margin-left: 0.4em;
  background: var(--text-primary);
  clip-path: polygon(
    8% 0,
    0 8%,
    40% 50%,
    0 92%,
    8% 100%,
    50% 60%,
    92% 100%,
    100% 92%,
    60% 50%,
    100% 8%,
    92% 0,
    50% 40%
  );
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  background-color: var(--bg-secondary);
  border-radius: 0.3em;
}
