::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: var(--bg-primary);
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.topSection {
  background-color: var(--bg-primary);
  grid-row-start: 1;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header {
  padding: 2.5rem 0 0.8rem 1rem;
}

.tagGroup {
  padding-bottom: 1.6rem;
  padding-left: 1rem;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.navigation {
  position: sticky;
  z-index: 100;
  bottom: 0;
  width: 100%;
}
