.page {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100vh;
}

main {
  overflow: auto;
}

.search {
  width: 100vw;
  padding-left: 1rem;
}

.searchbar {
  margin: 1rem;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
