@font-face {
  font-family: 'Poppins';
  src: url('../../../assets/fonts/Poppins/Poppins-Regular.ttf'),
    url('../../../assets/fonts/Poppins/Poppins-Bold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #111;
  --bg-secondary: #424242;
  --color-primary: #ffc700;
  --color-secondary: #2a2a2a;
  --text-primary: #fff;
  --text-secondary: #888;
  --font-face: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-face);
}
