*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url('src/app/components/assets/Poppins/Poppins-Medium.ttf');
}

:root {
  --bg-primary: #111;
  --bg-secondary: #424242;
  --color-primary: #ffc700;
  --color-secondary: #2a2a2a;
  --text-primary: #fff;
  --text-secondary: #888;
  --font-family-header: 'Poppins';
}

body {
  margin: 0;
}
