*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(src/assets/Poppins-Medium.ttf);
}

:root {
  --primary-font: 'poppins', sans-serif;
  --bg-primary: #111;
  --bg-secondary: #424242;
  --color-primary: #ffc700;
  --color-secondary: #2a2a2a;
  --text-primary: #fff;
  --text-secondary: #888;
  --bg-dark: #0b0b0b;
}

body {
  margin: 0;
  font-family: var(--primary-font);
}
