::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: var(--bg-primary);
  display: grid;
  height: 100vh;
  overflow: auto;
}

.header {
  padding-top: 2.5rem;
  padding-left: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-primary);
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
  overflow: scroll;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cardWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    grid-template-rows: 8% 84% 8%;
  }
}
